body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* BUTTON */
.th-btn-primary {
  color: #ffffff;
  background: #f0a500;
  border-radius: 0.25rem;
  border: none;
}

.th-btn-primary-gradient {
  color: #ffffff;
  /* background: linear-gradient(280.54deg, #F0A500 0%, #313f74 100%); */
  background: #f0a500;
  border-radius: 0.25rem;
  border: none;
}

.th-btn-primary-gradient:hover {
  /* background: linear-gradient(190deg, #F0A500 0%, #313f74 100%); */
  background: #f0a500;
}
.th-btn-secondary {
  color: #ffffff;
  background: #ea8b1b;
  border-radius: 0.25rem;
  border: none;
}
.th-btn-primary-outline {
  color: #f0a500;
  background: #ffffff;
  border-radius: 0.25rem;
  border: 1px solid #f0a500;
  transition-duration: 150px;
}

.th-btn-primary-outline:hover {
  background: #f0f3ff;
  transition-duration: 150px;
}

.th-btn-white {
  color: #f0a500;
  background: #ffffff;
  border-radius: 0.25rem;
  border: 1px solid #ffffff;
  transition-duration: 150px;
}

.th-btn-white:hover {
  background: #f0f3ff;
  transition-duration: 150px;
}

.th-btn-primary-on {
  /* color: #ffffff; */
  /* background: linear-gradient(280.54deg, #F0A500 0%, #313f74 100%); */
  color: #f0a500;
  background: #ffffff;
  border-radius: 0.25rem;
  border: none;
}

.th-btn-primary-off {
  color: #959595;
  background: #ffffff;
  border-radius: 0.25rem;
  border: none;
}

.th-btn-primary-ghost {
  color: #f0a500;
  background: none;
  border: none;
  /* border: 1px solid #ffffff; */
}

.th-btn-primary-ghost-disable {
  color: #959595;
  background: none;
  border: none;
  /* border: 1px solid #ffffff; */
}

.th-btn-white-ghost {
  font-weight: 500;
  color: #ffffff;
  background: none;
  border: none;
}

.th-btn-primary-on:focus,
.th-btn-primary-off:focus,
.th-btn-primary:focus,
.th-btn-primary-gradient:focus,
.th-btn-primary-outline:focus,
.th-btn-primary-ghost:focus,
.th-btn-white-ghost:focus,
.th-btn,
.th-btn-sc,
.th-form {
  outline: none;
}

.bg-primary {
  background-color: #f0a500 !important;
}

/* Header */
.th-side-drawer-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1500;
  top: 0;
  left: 0;
}

.th-side-drawer {
  height: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 65%;
  z-index: 2000;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.th-side-drawer.open {
  transform: translateX(0%);
}

/* Link */
.th-link {
  color: #000000;
}

.th-link:hover {
  text-decoration: none;
  color: #000000;
}

.th-link:active {
  text-decoration: none;
  color: #000000;
}

.th-header-dropdown-content {
  display: none;
  position: absolute;
  top: 45px;
  background-color: #cf7500;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.th-header-dropdown-content a {
  color: #fff;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}

.th-header-dropdown-content a:hover {
  background-color: #1a1c20;
  color: #fff;
}

.th-header-dropdown:hover .th-header-dropdown-content {
  display: block;
}

.th-header-dropdown-content-submenu {
  display: none;
  position: relative;
  top: 45px;
  right: 100px;
  background-color: #cf7500;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.th-header-dropdown-content-submenu a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.th-header-dropdown-content-submenu a:hover {
  background-color: #ea8b1b;
  color: #fff;
}

.th-header-dropdown:hover .th-header-dropdown-content-submenu {
  display: block;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #f0a500;
  /* display: flex; */
  flex-wrap: nowrap;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
}
.logo {
  padding: 5px;
  width: 200px;
}
.Nav-Home {
  margin: 15px;
  margin-left: 300px;
}
.Nav-about {
  margin: 15px;
  margin-left: 100px;
}
.Nav-ourboard {
  margin: 15px;
  margin-left: 100px;
}
.Nav-services {
  margin: 15px;

  margin-left: 100px;
}
.Nav-contact {
  margin: 15px;

  margin-left: 100px;
}
.middle {
  position: relative;
}

.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1a1c20;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  color: #1a1c20;
}
.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
  color: #1a1c20;
}

.block1 {
  height: 650px;
  background-color: #1a1c20;
  width: 100%;
  box-shadow: -8px 8px 8px 0 rgba(0, 0, 0, 0.5);
}

.carousel-inner img {
  width: 350px;
  height: 200px;
}
.block3 {
  background-color: #1a1c20;
  height: 400px;
  width: 100%;
}

.services:hover {
  color: #cf7500;
}

.block4:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5%;
  background: #545558;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}
.block4:hover {
  color: #b36500;
  box-shadow: 0 0 30px #545558;
  text-shadow: 0 0 0px #d35400;
}

/* */
@media screen and (max-width: 1920px) {
  .logo2 {
    padding-top: 250px;
    padding-left: 85px;
    height: 650px;
  }
  .block1text {
    font-size: 14;
    text-align: justify;
    color: #cf7500;
    padding: 30px 20px 10px;
  }
  .ourservicestext {
    font-size: 50px;
    font-weight: 600;
    padding-top: 50px;
    color: #cf7500;
  }
  .services {
    font-size: 20px;
  }
  .block2 {
    padding-top: 100px;
    padding-left: 50px;
    font-size: large;
  }
  .serviceImg {
    padding-top: 100px;

    height: 500px;
  }
  .block3 {
    background-color: #1a1c20;
    height: 400px;
    width: 100%;
  }
  .someclientstext {
    padding-top: 30px;
    font-size: xx-large;
    font-weight: 500;
    color: #cf7500;
    text-decoration: #cf7500;
    padding-bottom: 30px;
  }
  .why {
    padding-top: 50px;
    height: 500px;
  }
  .block4 {
    background-color: #1a1c20;
    height: 450px;
    width: 300px;
    margin-top: 125px;
    border-radius: 40px;
    margin-bottom: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  }
  .whyvirtuosityHeading {
    font-size: xx-large;
    font-weight: 600;
    padding-bottom: 30px;
  }
  .whyvirtuosityText {
    font-size: x-large;
    padding: 100px 50px;
    text-align: justify;
    color: #cf7500;
    text-decoration: #cf7500;
  }
}

@media screen and (max-width: 1024px) {
  .logo2 {
    padding-top: 200px;
    height: 500px;
    text-align: center;
  }
  .block1text {
    font-size: 15px;
    text-align: justify;
    color: #cf7500;
    padding: 30px 20px 10px;
  }
  .ourservicestext {
    font-size: 50px;
    font-weight: 600;
    padding-top: 50px;
    color: #cf7500;
  }
  .services {
    font-size: 15px;
  }
  .block2 {
    padding-top: 100px;
    padding-left: 50px;
    font-size: 14px;
    margin-bottom: 50px;
  }
  .serviceImg {
    padding-top: 100px;
    height: 350px;
  }
  .block3 {
    background-color: #1a1c20;
    height: 400px;
    width: 100%;
  }
  .someclientstext {
    padding-top: 30px;
    font-size: x-large;
    font-weight: 500;
    color: #cf7500;
    text-decoration: #cf7500;
    padding-bottom: 30px;
  }
  .why {
    padding-top: 70px;
    height: 300px;
  }
  .block4 {
    background-color: #1a1c20;
    height: 450px;
    width: 300px;
    margin-top: 125px;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  }
  .whyvirtuosityHeading {
    font-size: xx-large;
    font-weight: 600;
    padding-bottom: 30px;
  }
  .whyvirtuosityText {
    font-size: medium;
    padding: 100px 50px;
    text-align: justify;
    color: #cf7500;
    text-decoration: #cf7500;
  }
}
@media screen and (max-width: 500px) {
  .logo2 {
    padding-top: 100px;
    height: 300px;
    text-align: center;
  }

  .block1text {
    font-size: 13px;
    text-align: justify;
    color: #cf7500;
    padding: 30px 10px 10px;
  }
  .ourservicestext {
    font-size: 30px;
    font-weight: 600;
    padding-top: 50px;
    color: #cf7500;
  }
  .services {
    font-size: 16px;
  }
  .block2 {
    padding-left: 50px;
    padding-bottom: 30px;
  }
  .serviceImg {
    padding-top: 50px;
    height: 300px;
    margin: 0px;
  }
  .block3 {
    background-color: #1a1c20;
    height: 350px;
    width: 100%;
  }
  .someclientstext {
    padding-top: 15px;
    font-size: x-large;
    font-weight: 500;
    color: #cf7500;
    text-decoration: #cf7500;
    padding-bottom: 20px;
  }
  .why {
    padding-top: 20px;
    height: 250px;
    padding-bottom: 50px;
  }
  .block4 {
    background-color: #1a1c20;
    height: 250px;
    width: 100%;
    margin-top: 5px;
    border-radius: 0px;
    padding-top: 50px;

    margin-bottom: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  }
  .whyvirtuosityHeading {
    font-size: x-large;
    font-weight: 500;
    padding-bottom: 10px;
  }
  .whyvirtuosityText {
    font-size: medium;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 5px;

    text-align: justify;
    color: #cf7500;
    text-decoration: #cf7500;
  }
  .carousel-control-prev,
  .carousel-control-next {
    bottom: -85%;
  }
}
/******************************************* OUR BOARD PAGE ********************************************/

.ob {
  font-size: 60px;
  letter-spacing: 10px;
  font-weight: 550;
}

.obcol {
  text-align: center;
  font-family: Lato;
  color: #5a3629;
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 0px;
}
.upper {
  margin-top: 10px;
  background-image: linear-gradient(
    rgb(230, 213, 184),
    rgba(230, 213, 184, 0.08)
  );
  border-bottom: 0px;
}
.truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  cursor: pointer;
  -webkit-box-orient: vertical;
}
.modalhdr {
  background-color: #f0a500;
  color: white;
  font-family: Lato;
}
.modalbdy {
  font-family: Lato;
  color: #1a1c20;
  margin: 20px;
  text-align: justify;
}
.crdimg {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 30px;
}
.crdcol {
  padding-top: 50px;
}
.crd {
  font-family: Lato;
  text-align: justify;
  background-color: #5a3629;
  color: #e6d5b8;
  padding-top: 10px;
}

.crdcol :hover {
  box-shadow: 10px 8px 11px rgba(90, 54, 41, 0.3);
}

/* Contact Us*/
.title-1 {
  color: #cf7500;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.07em;
  margin-top: 40px;
}
.brands {
  margin: 12px;
  padding: 30px;
}

/*********************************ABOUT US******************************/


